<img id="ruby" src="images/ruby-gem.png" alt="Ruby">
#ruby
#id
 {
  position: absolute;
  z-index: 1;
  top: 315px;
  left: 175px;
}

<img class="emerald" src="images/emerald-gem.png" alt="emerald">
#emerald
#id
{
  position: absolute;
  z-index: 2;
  top: 350px;
  left: 369px;
}

/* Select the image inside the element with an id of sand (using its descendant relationship) */

  <img src="images/sapphire-gem.png" alt="Sapphire"> {
  position: absolute;
  z-index: 5;
  top: 315px;
  left: 275px;
}

/* Select the image with the class "yellow_diamond" */

<img class="yellow_diamond" src="images/yellow-diamond-1.png" alt="yellow diamond"> {
  position: absolute;
  z-index: 4;
  top: 325px;
  left: 200px;
}

/* Select the image that has ad id of diamond */
/*selector for diamond goes here */ {
  position: absolute;
  z-index: 3;
  top: 300px;
  left: 223px;
}
